<div class="tasks h-full py-8">
  <div class="container">
    <div class="tasks-inner flex flex-col gap-8">
      <div class="time-limit h-full ">
        <h1 class="text-semiBold-24 font-semibold max-sm:text-center">Time Limit</h1>

        <div class="cards h-78 w-full mt-4 flex gap-8 justify-evenly flex-wrap">
          <div class="card dark:bg-dark-component w-82 h-full p-6 bg-white rounded-[10px] flex flex-col gap-5">
            <img src="/imgs/dashboard/task-daily.png" alt="" class="h-27 w-full">
            <div class="text">
              <p class="text-semiBold-16 font-semibold">Creating Awesome Mobile Apps</p>
              <p class="text-medium-12">UI UX Design</p>
            </div>
            <div class="progression">
              <div class="flex items-center justify-between">
                <p>Progress</p>
                <p>70%</p>
              </div>
              <progress class="progress progress-info w-full" value="70" max="100"></progress>
            </div>

            <div class="time-people flex items-center justify-between">
              <p class="text-medium-16">1 Hour</p>
              <div class="people flex">
                <div class="box w-[24px] h-[24px] rounded-full bg-red-500 border-white border-2 ml-0"></div>
                <div class="box w-[24px] h-[24px] rounded-full bg-red-500 border-white border-2 ml-[-10px]"></div>
                <div class="box w-[24px] h-[24px] rounded-full bg-red-500 border-white border-2 ml-[-10px]"></div>
              </div>
            </div>
          </div>

          <div class="card dark:bg-dark-component max-md:hidden w-82 h-full p-6 bg-white rounded-[10px] flex flex-col gap-5">
            <img src="/imgs/dashboard/task-daily.png" alt="" class="h-27 w-full">
            <div class="text">
              <p class="text-semiBold-16 font-semibold">Creating Awesome Mobile Apps</p>
              <p class="text-medium-12">UI UX Design</p>
            </div>
            <div class="progression">
              <div class="flex items-center justify-between">
                <p>Progress</p>
                <p>70%</p>
              </div>
              <progress class="progress progress-info w-full" value="70" max="100"></progress>
            </div>

            <div class="time-people flex items-center justify-between">
              <p class="text-medium-16">1 Hour</p>
              <div class="people flex">
                <div class="box w-[24px] h-[24px] rounded-full bg-red-500 border-white border-2 ml-0"></div>
                <div class="box w-[24px] h-[24px] rounded-full bg-red-500 border-white border-2 ml-[-10px]"></div>
                <div class="box w-[24px] h-[24px] rounded-full bg-red-500 border-white border-2 ml-[-10px]"></div>
              </div>
            </div>
          </div>

          <div class="card dark:bg-dark-component max-xl:hidden w-82 h-full p-6 bg-white rounded-[10px] flex flex-col gap-5">
            <img src="/imgs/dashboard/task-daily.png" alt="" class="h-27 w-full">
            <div class="text">
              <p class="text-semiBold-16 font-semibold">Creating Awesome Mobile Apps</p>
              <p class="text-medium-12">UI UX Design</p>
            </div>
            <div class="progression">
              <div class="flex items-center justify-between">
                <p>Progress</p>
                <p>70%</p>
              </div>
              <progress class="progress progress-info w-full" value="70" max="100"></progress>
            </div>

            <div class="time-people flex items-center justify-between">
              <p class="text-medium-16">1 Hour</p>
              <div class="people flex">
                <div class="box w-[24px] h-[24px] rounded-full bg-red-500 border-white border-2 ml-0"></div>
                <div class="box w-[24px] h-[24px] rounded-full bg-red-500 border-white border-2 ml-[-10px]"></div>
                <div class="box w-[24px] h-[24px] rounded-full bg-red-500 border-white border-2 ml-[-10px]"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="new-tasks">
        <h1 class="text-semiBold-24 font-semibold max-sm:text-center">new tasks</h1>

        <div class="cards h-78 w-full mt-4 flex gap-8 justify-evenly flex-wrap">
          <div class="card dark:bg-dark-component w-82 h-full p-6 bg-white rounded-[10px] flex flex-col gap-5">
            <img src="/imgs/dashboard/task-daily.png" alt="" class="h-27 w-full">
            <div class="text">
              <p class="text-semiBold-16 font-semibold">Creating Awesome Mobile Apps</p>
              <p class="text-medium-12">UI UX Design</p>
            </div>
            <div class="progression">
              <div class="flex items-center justify-between">
                <p>Progress</p>
                <p>70%</p>
              </div>
              <progress class="progress progress-info w-full" value="70" max="100"></progress>
            </div>

            <div class="time-people flex items-center justify-between">
              <p class="text-medium-16">1 Hour</p>
              <div class="people flex">
                <div class="box w-[24px] h-[24px] rounded-full bg-red-500 border-white border-2 ml-0"></div>
                <div class="box w-[24px] h-[24px] rounded-full bg-red-500 border-white border-2 ml-[-10px]"></div>
                <div class="box w-[24px] h-[24px] rounded-full bg-red-500 border-white border-2 ml-[-10px]"></div>
              </div>
            </div>
          </div>

          <div class="card dark:bg-dark-component max-md:hidden w-82 h-full p-6 bg-white rounded-[10px] flex flex-col gap-5">
            <img src="/imgs/dashboard/task-daily.png" alt="" class="h-27 w-full">
            <div class="text">
              <p class="text-semiBold-16 font-semibold">Creating Awesome Mobile Apps</p>
              <p class="text-medium-12">UI UX Design</p>
            </div>
            <div class="progression">
              <div class="flex items-center justify-between">
                <p>Progress</p>
                <p>70%</p>
              </div>
              <progress class="progress progress-info w-full" value="70" max="100"></progress>
            </div>

            <div class="time-people flex items-center justify-between">
              <p class="text-medium-16">1 Hour</p>
              <div class="people flex">
                <div class="box w-[24px] h-[24px] rounded-full bg-red-500 border-white border-2 ml-0"></div>
                <div class="box w-[24px] h-[24px] rounded-full bg-red-500 border-white border-2 ml-[-10px]"></div>
                <div class="box w-[24px] h-[24px] rounded-full bg-red-500 border-white border-2 ml-[-10px]"></div>
              </div>
            </div>
          </div>

          <div class="card dark:bg-dark-component max-xl:hidden w-82  h-full p-6 bg-white rounded-[10px] flex flex-col gap-5">
            <img src="/imgs/dashboard/task-daily.png" alt="" class="h-27 w-full">
            <div class="text">
              <p class="text-semiBold-16 font-semibold">Creating Awesome Mobile Apps</p>
              <p class="text-medium-12">UI UX Design</p>
            </div>
            <div class="progression">
              <div class="flex items-center justify-between">
                <p>Progress</p>
                <p>70%</p>
              </div>
              <progress class="progress progress-info w-full" value="70" max="100"></progress>
            </div>

            <div class="time-people flex items-center justify-between">
              <p class="text-medium-16">1 Hour</p>
              <div class="people flex">
                <div class="box w-[24px] h-[24px] rounded-full bg-red-500 border-white border-2 ml-0"></div>
                <div class="box w-[24px] h-[24px] rounded-full bg-red-500 border-white border-2 ml-[-10px]"></div>
                <div class="box w-[24px] h-[24px] rounded-full bg-red-500 border-white border-2 ml-[-10px]"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
