@use "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@layer base  {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
  .container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
  }
}

@theme{
  --color-skeleton-dark: rgba(84, 111, 255, 0.31);
  --color-skeleton-light: rgba(84, 111, 255, 0.12);

  --text-medium-12: 12px;
  --text-medium-14: 14px;
  --text-medium-16: 16px;

  --text-semiBold-16: 16px;
  --text-semiBold-20: 20px;
  --text-semiBold-32: 32px;
}

body{
  background-color: #F5F5F7;
}
