@use "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@plugin "daisyui" {
  themes: light --default, dark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base  {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .container{
    margin: 0 auto;
  }

  button{
    cursor: pointer;
  }
}

@theme{
  --color-skeleton-dark: rgba(84, 111, 255, 0.31);
  --color-skeleton-light: rgba(84, 111, 255, 0.12);

  --text-medium-12: 12px;
  --text-medium-14: 14px;
  --text-medium-16: 16px;
  --text-medium-18: 18px;

  --text-semiBold-12: 12px;
  --text-semiBold-14: 14px;
  --text-semiBold-16: 16px;
  --text-semiBold-20: 20px;
  --text-semiBold-24: 24px;
  --text-semiBold-32: 32px;

  --color-dark-component: #20262e;
  --color-dark-theme: #1d232a;
}

body{
  overflow-x: hidden;
}


.active-link{
  @apply bg-blue-500 dark:bg-dark-theme text-white dark:text-white
}
